[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nltk = "*"
numpy = "*"
sklearn = "*"
pyyaml = "==5.4"
pyaudio = {version = "*",sys_platform = "!= 'win32'"}
speechrecognition = "*"
pyowm = "*"

[requires]
python_version = "3.7"
